@import "../../_base.scss";
.videoMetaData {
  &__top {
    span {
      cursor: pointer;
    }
  }

  &__channel {
    border-top: 0.2px solid $border-color;
    border-bottom: 0.2px solid $border-color;
    img {
      width: 48px;
      height: 50px;
    }
    button {
      background-color: red;
      color: white;
      border-radius: none;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      &.btn-gray {
        background-color: $border-color;
        color: $text-color;
      }
      &:hover {
        color: white;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  &__description {
    font-size: 0.9rem;
    white-space: pre-line;
    border-bottom: 0.2px solid $border-color;
    .my-anchor-css-class {
      text-decoration: none;
      display: block;
      margin: 1rem 0;
      color: #fff;
      font-weight: 500;
    }
  }
}
